#eewp_widget {
    padding: 15px;
}
#eewp_widget h4.title {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
}
#eewp_widget p {
    color: #fff;
    margin: 15px 0px;
    text-align: center;
}
a.linkcolor {
    color: #fff;
}
a:hover.linkcolor {
    color: #ededed;
}
#eewp_widget input.submit {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
#eewp_widget input.submit:hover {
    background: #ededed;
}
#eewp_widget p.text {
    margin: 15px 0;
    opacity: 0.8;
}
#eewp_widget input {
    border: none;
    width: 100%;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
#eewp_widget input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.8;
}
#eewp_widget input:-moz-input-placeholder {
    color: inherit;
    opacity: 0.8;
}
#eewp_widget input::-moz-input-placeholder {
    color: inherit;
    opacity: 0.8;
}
#eewp_widget input::-ms-input-placeholder {
    color: inherit;
    opacity: 0.8;
}
#eewp_widget .eesf-form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#eewp_widget .hide {
    display: none;
}